@model CorporationHR.Models.UserProfileForAdminOperations
<tr>
    <td>
        @Html.DisplayFor(model => model.UserId)
    </td>
    <td>
        @Html.DisplayFor(model => model.UserName)
    </td>
    <td>
        @Html.DisplayFor(model => model.FirstName)
    </td>
    <td>
        @Html.DisplayFor(model => model.LastName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Email)
    </td>
    <td>
        @{ var currentUserStatus = Roles.GetRolesForUser(Model.UserName)[0]; }
        @(currentUserStatus.ToString())
    </td>
    <td>
        @Html.DropDownListFor(model => model.SelectedClearanceId, Model.Clearances, new { disabled="disabled" })
    </td>
    <td>
        @Html.ActionLink("Edit", "EditUser", "Administration", new { id = Model.UserId }, null) |
        @Html.ActionLink("Details", "UserDetails", "Administration", new { id = Model.UserId }, null) |
        @Html.ActionLink("Delete", "DeleteUser", "Administration", new { id = Model.UserId }, null)
        @{
                if (string.Equals(currentUserStatus,"Active"))
                {
                    @Html.ActionLink("Disable", "ChangeUserStatus", "Administration", new { userName = Model.UserName, enabled = false }, null)
                }
                else
                {
                    @Html.ActionLink("Enable", "ChangeUserStatus", "Administration", new { userName = Model.UserName, enabled = true }, null)
                }
        }
    </td>
</tr>