@model CorporationHR.Models.ClearenceModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete clearance</h2>

<h3>Are you sure you want to delete this?</h3>
<p>Note: You will not be able to remove any clearences which are being currently used.</p>
<fieldset>
    <legend>Remove clearance</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClearenceWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClearenceWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClearenceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClearenceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClearenceRgbColor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClearenceRgbColor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
