<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/dist/ico/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - CorporationTech</title>

    <link href="@Url.Content("~/Content/dist/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dist/css/carousel.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Recent Change -->
    <!-- Recent Change End -->
    <div class="navbar-wrapper">
        @Html.Partial("_ClearanceDisplay")
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="~/Content/dist/ico/favicon.png" alt="Logo" style="height: 35px; display: inline; float: left; margin: 6px 4px 0px 0px;" />
                        @Html.ActionLink("CorporationTech", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class ="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Explore CorpoDb", "ExploreDb", "Home")</li>
                                <li>@Html.ActionLink("Your account", "Manage", "Account")</li>
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*Mozna by cos z tym zrobic*@
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container marketing">

        <div class="row2 featurette">
            <div class="col-all">
                @RenderBody()
            </div>
        </div>

        <hr class="featurette-divider-footer2">

        <footer>
            <p class="pull-right2"><a href="#">Back to top</a></p>
            <p class="footer2">&copy; @DateTime.Now.Year - CorporationTech &middot; @Html.ActionLink("Home", "Index", "Home")  &middot; @Html.ActionLink("About", "About", "Home")
            @if (User.Identity.IsAuthenticated){ <span>&middot;</span> @Html.ActionLink("Explore CorpoDb", "ExploreDb", "Home")}  
                &middot; @Html.ActionLink("Contact", "Contact", "Home")
            <p class="confidentialnote"><span class="blueish">CorporationHR Confidential</span><strong> Warning:</strong> Unauthorized access to this website is strictly prohibited and is a crime under international law. Violators will be prosecuted. System use is only for authorized purposes. Access and usage by any person or entity implies their consent to monitoring.</p>
        </footer>
        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

