@using CorporationHR.Helpers
@model IEnumerable<CorporationHR.Models.UserProfile>

@{
    ViewBag.Title = "Index";
    var canEdit = ClereancesHelper.Instance.CheckIfUserCanEditAndDeleteContent(User.Identity.Name, "User Profiles");
}

<h2>Index</h2>

@{
    if (canEdit)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClearenceModel.ClearenceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td style="background-color: @item.ClearenceModel.ClearenceRgbColor;">
            @Html.DisplayFor(modelItem => item.ClearenceModel.ClearenceName) (Weight:
            @Html.DisplayFor(modelItem => item.ClearenceModel.ClearenceWeight) )
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.UserId })
            @{
                if (canEdit)
                {
                    <span>&#8226;</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId })
                    <span>&#8226;</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                }
            }

        </td>
    </tr>
}
</table>
