@using CorporationHR.Helpers
@model IEnumerable<CorporationHR.Models.Technology>

@{
    ViewBag.Title = "Index";
    var canEdit = ClereancesHelper.Instance.CheckIfUserCanEditAndDeleteContent(User.Identity.Name, "Technologies");
}

<h2>Index</h2>

@{
    if (canEdit)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TechnologyInternalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TechnologyInternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.TechnologyId })
            @{
                if (canEdit)
                {
                    <span>&#8226;</span>
                    @Html.ActionLink("Edit", "Edit", new { id=item.TechnologyId })
                    <span>&#8226;</span>
                    @Html.ActionLink("Delete", "Delete", new { id=item.TechnologyId })
                }
            }
        </td>
    </tr>
}

</table>
