@model CorporationHR.Models.Patent

@{
    ViewBag.Title = "Remove patent";
}

<h2>Remove patent</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Patent</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PatentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PatentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PatentText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PatentText)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
