@model CorporationHR.Models.UserProfileForAdminOperations

@{
    ViewBag.Title = "DeleteUser";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AdminUserProfileModel</legend>
    @Html.HiddenFor(model => model.UserId)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.SelectedClearanceId)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.SelectedClearanceId, Model.Clearances, new { disabled = "disabled" })
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @Html.HiddenFor(model => model.UserId)
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "ManageUsers")
    </p>
}
