@model IEnumerable<CorporationHR.Models.UserProfileForAdminOperations>

<h2>Manage Users</h2>

<p>
    @Html.ActionLink("Create new User", "CreateUser")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedClearanceId)
        </th>
        <th></th>
    </tr>
    @Html.DisplayForModel()
</table>
