@model CorporationHR.Models.UserProfileForAdminOperations

<h2>UserDetails</h2>

<fieldset>
    <legend>AdminUserProfileModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.SelectedClearanceId)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.SelectedClearanceId, Model.Clearances, new { disabled = "disabled" })
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditUser", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "ManageUsers")
</p>
