@using CorporationHR.Helpers
<h2>Explore our CorpoDb !</h2>

<p>
   Some generic text. Lorem ipsum ipsum lorem.
</p>
<table>
    <tr>
        <th>
            Table Name
        </th>
        <th>
            Table Clearance
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            Security Of Tables
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("Security Of Tables")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("Security Of Tables") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("Security Of Tables"))
        </td>
        <td>
        <td>
            @{
                var canWriteToSecurityOfTables = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "Security Of Tables");
                var canReadSecurityOfTables = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "Security Of Tables");

                if (canWriteToSecurityOfTables)
                {
                    @Html.ActionLink("Add entry", "Create", "SecurityOfTables")
                }
                if (canReadSecurityOfTables && canWriteToSecurityOfTables)
                {
                    <span>&#8226;</span>
                }
                if (canReadSecurityOfTables)
                {
                    @Html.ActionLink("View Table", "Index", "SecurityOfTables")
                }
            }
        </td>
    </tr>
    
    <tr>
        <td>
            User Profiles
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("User Profiles")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("User Profiles") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("User Profiles"))
        </td>
        <td>
        <td>
            @{
                var canWriteToUserProfiles = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "User Profiles");
                var canReadUserProfiles = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "User Profiles");

                if (canWriteToUserProfiles)
                {
                    @Html.ActionLink("Add entry", "Create", "UserProfiles")
                }
                if (canReadUserProfiles && canWriteToUserProfiles)
                {
                    <span>&#8226;</span>
                }
                if (canReadUserProfiles)
                {
                    @Html.ActionLink("View Table", "Index", "UserProfiles")
                }
            }            
        </td>
    </tr>
    
    <tr>
        <td>
            Clearences
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("Clearence Models")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("Clearence Models") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("Clearence Models"))
        </td>
        <td>
        <td>
            @{
                var canWriteToClereances = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "Clearence Models");
                var canReadClereances = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "Clearence Models");

                if (canWriteToClereances)
                {
                    @Html.ActionLink("Add entry", "Create", "Clereances")
                }
                if (canReadClereances && canWriteToClereances)
                {
                    <span>&#8226;</span>
                }
                if (canReadClereances)
                {
                    @Html.ActionLink("View Table", "Index", "Clereances")
                }
            }
        </td>
    </tr>
    
    <tr>
        <td>
            Technologies
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("Technologies")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("Technologies") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("Technologies"))
        </td>
        <td>
        <td>
            @{
                var canWriteToTechnologies = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "Technologies");
                var canReadTechnologies = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "Technologies");

                if (canWriteToTechnologies)
                {
                    @Html.ActionLink("Add entry", "Create", "Technologies")
                }
                if (canReadTechnologies && canWriteToTechnologies)
                {
                    <span>&#8226;</span>
                }
                if (canReadTechnologies)
                {
                    @Html.ActionLink("View Table", "Index", "Technologies")
                }
            }
        </td>
    </tr>

    <tr>
        <td>
            Technology Authors
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("TechnologyAuthors")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("TechnologyAuthors") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("TechnologyAuthors"))
        </td>
        <td>
        <td>
            @{
                var canWriteToTechnologyAuthors = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "TechnologyAuthors");
                var canReadTechnologyAuthors = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "TechnologyAuthors");

                if (canWriteToTechnologyAuthors)
                {
                    @Html.ActionLink("Add entry", "Create", "TechnologyAuthors")
                }
                if (canReadTechnologyAuthors && canWriteToTechnologyAuthors)
                {
                    <span>&#8226;</span>
                }
                if (canReadTechnologyAuthors)
                {
                    @Html.ActionLink("View Table", "Index", "TechnologyAuthors")
                }
            }            
        </td>
    </tr>
    
    <tr>
        <td>
            Uses And Plans
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("UsesAndPlans")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("UsesAndPlans") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("UsesAndPlans"))
        </td>
        <td>
        <td>
            @{
                var canWriteToUsesAndPlans = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "UsesAndPlans");
                var canReadUsesAndPlans = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "UsesAndPlans");

                if (canWriteToUsesAndPlans)
                {
                    @Html.ActionLink("Add entry", "Create", "UsesAndPlans")
                }
                if (canReadUsesAndPlans && canWriteToUsesAndPlans)
                {
                    <span>&#8226;</span>
                }
                if (canReadUsesAndPlans)
                {
                    @Html.ActionLink("View Table", "Index", "UsesAndPlans")
                }
            }
        </td>
    </tr>
    
    <tr>
        <td>
            Patents
        </td>
        <td style="background-color: @ClereancesHelper.Instance.GetClearenceColorFromControllerName("Patents")">
            @ClereancesHelper.Instance.GetClearenceNameFromControllerName("Patents") (Weight: @ClereancesHelper.Instance.GetClearenceWeightFromControllerName("Patents"))
        </td>
        <td>
        <td>
            @{
                var canWriteToPatents = ClereancesHelper.Instance.CheckIfUserCanWriteContent(User.Identity.Name, "Patents");
                var canReadPatents = ClereancesHelper.Instance.CheckIfUserCanViewContent(User.Identity.Name, "Patents");
                
                if (canWriteToPatents)
                {
                    @Html.ActionLink("Add entry", "Create", "Patents")
                }
                if (canReadPatents && canWriteToPatents)
                {
                    <span>&#8226;</span>
                }
                if (canReadPatents)
                {
                    @Html.ActionLink("View Table", "Index", "Patents")
                }
            }
        </td>
    </tr>
</table>
