@using CorporationHR.Models
@model IEnumerable<CorporationHR.Models.Technology>

@{
    ViewBag.Title = "Browse Corporation Techs";
    var nameOfClearance = ViewBag.UserClearenceName ?? "Coudn't get your clearence";
    var clearenceWeight = ViewBag.UserClearenceWeight;
    Dictionary<int, string> colors = ViewBag.ClearencesIdToColorMapping;
}

<h2>Browse Corporation Techs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TechnologyInternalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th>
            Clearence required
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(x => x.ClearenceModel.ClearenceWeight >= clearenceWeight))
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TechnologyInternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        @{
            var b = item.ClearenceModel.ClearenceId; 
        }
        <td style="color: #FFFFFF; background-color: @colors[b]">
            @Html.DisplayFor(modelItem => item.ClearenceModel.ClearenceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TechnologyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TechnologyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TechnologyId })
        </td>
    </tr>
}

</table>
